extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae tempus quam pellentesque nec. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Netus et malesuada fames ac turpis egestas sed tempus. Ultrices sagittis orci a scelerisque purus semper eget duis. Congue mauris rhoncus aenean vel. Arcu non sodales neque sodales ut etiam sit. Morbi quis commodo odio aenean sed adipiscing diam donec adipiscing. Neque convallis a cras semper. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Volutpat sed cras ornare arcu dui vivamus arcu. Rhoncus mattis rhoncus urna neque. Tellus cras adipiscing enim eu turpis egestas pretium aenean. Sed faucibus turpis in eu mi bibendum neque. Quam lacus suspendisse faucibus interdum posuere lorem. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Pulvinar neque laoreet suspendisse interdum consectetur libero. Augue lacus viverra vitae congue. A diam maecenas sed enim ut.

                p Aenean vel elit scelerisque mauris pellentesque. Purus faucibus ornare suspendisse sed nisi lacus sed viverra. Quis lectus nulla at volutpat diam ut venenatis tellus. Facilisi cras fermentum odio eu feugiat pretium nibh. Orci porta non pulvinar neque. Et ligula ullamcorper malesuada proin. Varius morbi enim nunc faucibus. Amet aliquam id diam maecenas ultricies mi eget. Porta non pulvinar neque laoreet suspendisse interdum. Varius quam quisque id diam vel quam elementum pulvinar etiam. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Diam vel quam elementum pulvinar etiam non quam lacus. A lacus vestibulum sed arcu non odio.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4 
                    img(src="/img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque habitant morbi tristique senectus. Est velit egestas dui id ornare arcu. Eget velit aliquet sagittis id consectetur. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Ut sem nulla pharetra diam. Arcu vitae elementum curabitur vitae nunc. 

                .col-md-4 
                    img(src="/img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Pellentesque habitant morbi tristique senectus. Est velit egestas dui id ornare arcu. Eget velit aliquet sagittis id consectetur. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Ut sem nulla pharetra diam. Arcu vitae elementum curabitur vitae nunc. 
                
                .col-md-4 
                    img(src="/img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Pellentesque habitant morbi tristique senectus. Est velit egestas dui id ornare arcu. Eget velit aliquet sagittis id consectetur. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Ut sem nulla pharetra diam. Arcu vitae elementum curabitur vitae nunc.      